@charset "UTF-8";
.nav-links a {
  text-decoration: none;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color:rgb(47, 101, 162);
}

img {
  max-width:7%;
  width: 5%;
  display: block;
  object-fit: cover;
  object-position: center center;
  background-color:rgb(47, 101, 162);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

video {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong {
  -webkit-hyphens: auto;
          hyphens: auto;
  font-weight: inherit;
  font-size: inherit;
}

::selection {
  background-color: var(--negro);
  color: var(rgb(47, 101, 162));
}

form, input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  display: block;
  background-color:rgb(47, 101, 162);
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background-color: var(rgb(47, 101, 162));
  color: var(--negro);
  -webkit-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(rgb(47, 101, 162));
  box-shadow: 1em 1em 2em var, -1em -1em 2em , inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrousel .grande {
  width: 300%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(rgb(47, 101, 162));
  box-shadow: 1em 1em 2em var, -1em -1em 2em , inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
 }

.carrousel .img {
  width: calc( 100% / 3 - 1em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: white;
  box-shadow: 1em 1em 2em , -1em -1em 2em , inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color:  rgb(12, 42, 234);
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: white inset 0 0 0 transparent;
  box-shadow: 0.6em 0.6em 1.2em , -0.6em -0.6em 1.2em , inset 0 0 0 transparent, inset 0 0 0 transparent;
 }

.carrousel .punto.activo {
  background-color: rgb(12, 42, 234);
}
