body {
  background-color: rgb(47, 101, 162);
  color: #b9bcb8;
}
#logo{
	font-family: Arial, sans-serif;
	text-decoration: none;
}
.logo-text {
	color: #b9bcb8;
	font-size: calc(.5rem + .5vw);
}

p {
	font-family: Arial, sans-serif;
	font-size: calc(.5rem + .5vw);
	color: #b9bcb8;
  }

h2{
	font-family: Arial, sans-serif ;
	color: #b9bcb8
}

h1 {
	font-family: Arial, sans-serif ;
	color: #b9bcb8
}

h3 {
	font-family: Arial, sans-serif ;
	color: #b9bcb8
}

.pie {
	font-family: Arial, sans-serif ;
	font-size: calc(.5rem + .5vw);
	color: #b9bcb8;
    bottom: 0;
    left: 0;
}

.nav-links a {
	font-family: Arial, sans-serif;
    text-decoration: none;
    color: #b9bcb8;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
	font-family: Arial, sans-serif;
    text-decoration: none;
    color: #b9bcb8
}
table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #007bff;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
	font-family: Arial, sans-serif;
    text-decoration: none;
    color: #b9bcb8
}
button {
    padding: 8px;
    margin:4px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*Maquetado del Index*/
.cajaArtista {
  background-color: rgb(47, 101, 162);
  padding: 20px;
  
  display: grid;

/*dos columnas*/
  grid-template-columns: 40% 45%;
  column-gap: 5px;
  row-gap: 20px;

  /*dos filas*/
  grid-template-rows: 60% 40%;
  height: 100vh;
  grid-auto-rows: 3fr;
}

  .artista {
    color: #b9bcb8;
   	text-align: center;
	justify-content: center;
	font-size: 4.5vmax;
	align-content: center;
  }

  .mensajeIndex {
    color: #b9bcb8;
    font-size: 3vb;
	justify-content: center;
  }

  .imageIndex1{
	color: #b9bcb8;
	font-size: 3vmax;
	text-align: justify;
	align-content: center;
  }

  .imagenIndex2{
	color: #b9bcb8;
	font-size: 3vmax;
	text-align: justify;
	align-content: center;
  }
  /*Fin Maquetado*/

/* Selector por id que identifica la sección del banner. */
#banner {
  background-image: url("../Img/banner.jpg");
  background-position: center; 
  height: 100%;
}


#logo {
  font-weight: bold;
}

/*Formulario*/
.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 20%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 25px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: calc(1rem + 1vw);
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: right;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: calc(1rem + 1vw);
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
/*Escritorio*/
@media screen and (min-width: 1200px) {
	.formulario {
		grid-template-columns: 1fr;
		font-size: calc(.5rem + .5vw);;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 30%;
	}
}
/*tablet*/
@media screen and (min-width: 576px) and (max-width: 1199.99px) {
	.formulario {
		grid-template-columns: 1fr;
		font-size: calc(.5rem + .5vw);;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 30%;
	}
}
/*Celular*/
@media screen and (max-width: 575.99px) {
	.formulario {
		grid-template-columns: 1fr;
		font-size: calc(.5rem + .5vw);;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 30%;
	}
}

/*Estilo Calesita*/
.carrousel .grande {
	width: 300%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	transition: all 0.4s ease;
	border-radius: 1em;
	background-color: var(rgb(47, 101, 162));
	box-shadow: 1em 1em 2em var, -1em -1em 2em , inset 0 0 0 transparent, inset 0 0 0 transparent;
	transition: all 0.5s ease;
	transform: translateX(0%);
   }
  
  .carrousel .img {
	transition: all 0.4s ease;
	border-radius: 1em;
	width: calc(9rem + 9vw);
	height: calc(16rem + 16vw);
  }
  
  .carrousel .puntos {
	margin: 1em 0 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
  }
  
  .carrousel .punto {
	width: 2em;
	height: 2em;
	margin: 1em 1em 0;
	color: var(--negro);
	transition: all 0.4s ease;
	border-radius: 1em;
	background-color: white inset 0 0 0 transparent;
	box-shadow: 0.6em 0.6em 1.2em , -0.6em -0.6em 1.2em , inset 0 0 0 transparent, inset 0 0 0 transparent;
   }
  
  .carrousel .punto.activo {
	background-color: rgb(12, 42, 234);
  }
  