<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./Static/Img/camera_ico.png">
    <script src="https://kit.fontawesome.com/68d51e1d0f.js" crossorigin="anonymous"></script>
    <title>Grupo 10 - Contacto</title>
    <link rel="stylesheet" href="./Static/css/estilo.css">
</head>

<body>
    
    <!-- Creo un header para hacer la barra de navegación -->
    <header id="top">
        <ul class="nav-links">
            <li><div id="logo">
                <a href="/index.html">
                    <i class="fa-solid fa-arrow-up"></i>
                    <span>
                        Inicio
                    </span></a>
            </div></li>
            <li><a href="./registro.html">Registrarse</a></li>
            <li><a href="./planes.html">Planes</a></li>
    </header>

    <main>
        <h1>Formulario de Contacto</h1>
        <form action="" id="" method="GET">
            <fieldset>
                <legend>Datos personales</legend>

                <div>
                    <label for="nombre">Nombre: </label>
                    <input type="text" id="nombre" name="nombre" placeholder="Escriba su nombre...">
                </div>
                <br>
                <div>
                    <label for="apellido">Apellido: </label>
                    <input type="text" id="apellido" name="apellido" size="10" maxlength="5" required>
                </div>
                <br>
                <div>
                    <label for="DNI">DNI: </label>
                    <input type="number">
                </div>
                <br>
                <div>
                    <label for="Nro_socio">Nro Asociado</label>
                    <input type="number">
                </div>
                
                <br><br>

                <div>
                    <label for="Mail">Correo electrónico: </label>
                    <input type="email">
                </div>
                <br>
                <div>
                    <label for="fecnac">Fecha de nacimiento: </label>
                    <input type="date">
                </div>
                
                <br><br>

            </fieldset>
            <br>
            <br>

            <div>
                <label for="conmentarios">Deje sus comentarios:</label><br>
                <textarea cols="100" rows="10" placeholder="Escriba su comentario"></textarea>
            </div>
            
            <br><br>
            
            <div>
                <input type="submit" value="Enviar datos">
                <input type="reset" value="Borrar datos">
            </div>
        </form>

    </main>
    <footer>
        <a href="">Terminos y Condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13135.413946342771!2d-58.38310044999999!3d-34.6078662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac630121623%3A0x53386f2ac88991a9!2sTeatro%20Col%C3%B3n!5e0!3m2!1ses-419!2sar!4v1715692669620!5m2!1ses-419!2sar" 
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </footer>
</body>

