<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../Static/Img/camera_ico.png">
    <script src="https://kit.fontawesome.com/68d51e1d0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Static/css/estilo.css">
    <SCRIPT LANGUAGE="JavaScript">
        <!--
        function clave(){
            do{
            pal=prompt('Introduce la clave (es Grupo7)','')
            } while (pal !="Grupo7");
        
            window.location="./subindex.html"}
        //-->
    </SCRIPT>

    <!-- CSS externo -->


    <title>Grupo 24157-7 - Uso Interno</title>
</head>

<BODY onload="clave()" >
    <section id="banner">
        <div >
        <h1>Tus mejores recuerdos y mucho mas</h1>
        </div>
    </section>
           
    <main>
       
    </main>
        <footer>
            <a class="pie" href="">Terminos y Condiciones</a>
            <a class="pie" href="">Preguntas Frecuentes</a>
            <a class="pie" href="">Ayuda</a>
        </footer>


</body>
</html>