<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../Static/Img/camera_ico.png">
    <script src="https://kit.fontawesome.com/68d51e1d0f.js" crossorigin="anonymous"></script>

    <script defer src="../Static/js/app.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <!-- CSS externo -->
 <link rel="stylesheet" href="../Static/css/calesita.css">

    <title>Grupo 10 - Planes</title>
</head>
<body>
    <main>
        <nav>
            <ul class="nav-links">
                <li><div id="logo">
                    <a href="../index.html">
                        <i class="fa-solid fa-arrow-up"></i>
                        <span>
                            Inicio
                        </span></a>
                </div></li>
                <li><a href="./registro.html">Registro</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul> 
		</nav>
        
        <div class="carrousel">
            <div class="grande">
                <img src="../Static/Img/Plan_1.jpg" alt="Imagen 1" class="img">
                <img src="../Static/Img/Plan_2.jpg" alt="Imagen 2" class="img">
                <img src="../Static/Img/Plan_3.jpg" alt="Imagen 2" class="img">
            </div>
    
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </div>

        </div>

    </main>


</body>
</html>