<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="../Static/Img/camera_ico.png">
    <script src="https://kit.fontawesome.com/68d51e1d0f.js" crossorigin="anonymous"></script>

    <script defer src="../Static/js/app.js" ></script>

    <!-- CSS externo -->
 <link rel="stylesheet" href="../Static/css/estilo.css">

    <title>Grupo 24157-7 - Planes</title>
</head>

<body>
    <section id="banner">
        <div >
        <h1>Tus mejores recuerdos y mucho mas</h1>
        </div>
    </section>
    
    <header>
        <nav>
            <nav>
                <div id="logo">
                    <a style="color:#b9bcb8;" href="../index.html">
                        <i class="fa-solid fa-camera-retro"></i>
                        <span class="logo-text">
                            C.R.F.
                        </span></a>
                </div>
			<ul class="nav-links">
                <li><a href="./registro.html">Registro</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul> 
		</nav>
    </header>
        
    <main>
        <h2>
            Planes Disponibles
        </h2>

        <div class="carrousel">
            <div class="grande">
                <img src="../Static/Img/Plan_1.jpg" alt="Imagen 1" class="img">
                <img src="../Static/Img/Plan_2.jpg" alt="Imagen 2" class="img">
                <img src="../Static/Img/Plan_3.jpg" alt="Imagen 2" class="img">
            </div>
    
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </div>

        </div>
    </main>
        <footer>
            <a class="pie" href="">Terminos y Condiciones</a>
            <a class="pie" href="">Preguntas Frecuentes</a>
            <a class="pie" href="">Ayuda</a>
        </footer>


</body>
</html>